/* //---------- STYLES ----------// */

/* //---------- HEADER ----------// */
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 16px 48px;
  background: var(--background);
  z-index: 700;
  transition: all 200ms;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: auto;
}

.logo path {
  stroke: var(--theme-color);
}
.logo circle {
  fill: var(--theme-secondary-color);
}

.search-icon path {
  fill: var(--theme-color);
}
.account-icon path {
  fill: var(--theme-color);
}
.cart-icon path {
  stroke: var(--theme-color);
}
.logo circle {
  fill: var(--theme-color);
}
.logo path {
  stroke: var(--theme-secondary-color);
  fill: var(--theme-color);
}

.links {
  font-family: var(--font-oswald);
  font-weight: 500;
  font-size: var(--font-16);
  text-transform: uppercase;
}

.links li {
  position: relative;
}
.links a {
  color: var(--theme-color);
}

.links li:hover::after {
  content: '';
  display: block;
  height: 1px;
  width: 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
}

/* //---------- HEADER THEMES ----------// */

.header.light {
  --background: white;
  --theme-color: var(--coffee-900);
  --theme-secondary-color: var(--coffee-100);
}
.header.transparent {
  --background: transparent;
  --theme-color: var(--coffee-100);
  --theme-secondary-color: var(--coffee-900);
}
