.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-oswald);
  font-weight: 500;
  cursor: pointer;
  padding: 8px 24px;
  font-size: var(--font-16);
  text-transform: uppercase;
  width: 100%;
  border-radius: 4px;
  gap: 12px;
}
.fit {
  width: fit-content;
}
.primary {
  background: var(--coffee-900);
  color: var(--coffee-100);
}
.secondary {
  border: 1px solid #7e7c78;
  color: var(--coffee-900);
  font-size: 15px;
}

.primary:disabled,
.secondary:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
