.overlay-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.overlay-loader.show {
  display: flex;
}
.spinner {
  width: 50px;
  fill: var(--coffee-900);
}
