.separator {
  margin: 48px 0;
  border-top: 1px solid var(--gray-300);
}
.article-container {
  display: flex;
  gap: 96px;
}
.preview-container {
  display: flex;
  flex: 3;
  overflow: hidden;
}

.buy-box-container {
  flex: 2;
  height: fit-content;
  position: sticky;
  top: calc(50px + 62px);
}

.brand {
  color: var(--coffee-800);
  text-transform: uppercase;
  font-size: 14px;
}
.fullname {
  text-transform: capitalize;
  font-size: 24px;
}
.price {
  font-family: var(--font-oswald);
  font-size: 36px;
  font-weight: bold;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
.description-title {
  font-family: var(--font-oswald);
  font-size: 20px;
  font-weight: 500;
}
