.separator {
  margin: 48px 0;
  border-top: 1px solid var(--gray-300);
}
.article-container {
  display: flex;
  gap: 96px;
}
.preview-container {
  display: flex;
  flex: 3;
  overflow: hidden;
}

.buy-box-container {
  flex: 2;
  height: fit-content;
  position: sticky;
  top: calc(50px + 62px);
}

.brand {
  color: var(--coffee-800);
  text-transform: uppercase;
  font-size: 14px;
}
.fullname {
  text-transform: capitalize;
  font-size: 24px;
}
.price {
  font-family: var(--font-oswald);
  font-size: 36px;
  font-weight: bold;
}

.sizes-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sizes-header {
  display: flex;
  justify-content: space-between;
}
.sizes-title {
  font-family: var(--font-oswald);
  font-size: 20px;
  font-weight: 500;
}
.sizes-items {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.size {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 24px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
}
.size.disabled {
  background: var(--coffee-900-015);
  color: var(--gray-400);
}
.size.disabled::after {
  content: '';
  border-top: 1px solid var(--gray-400);
  transform-origin: center;
  width: 75px;
  display: block;
  position: absolute;
  transform: translate(-50%) rotate(26deg);
  left: 50%;
  top: 50%;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
.description-title {
  font-family: var(--font-oswald);
  font-size: 20px;
  font-weight: 500;
}
.reassurance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}
.reassurance-container p {
  font-size: 12px;
  color: var(--gray-700);
}
.payement-icons-container {
  display: flex;
  gap: 24px;
}
