.error-banner {
  color: var(--error-message);
  font-size: var(--font-14);
  font-weight: bold;
  text-align: center;
  height: 0px;
  transition: height 200ms;
  overflow: hidden;
}
.show {
  height: 40px;
}
