.sneakers-slider {
  margin: 0 -48px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  margin-bottom: 32px;
}
.title {
  font-family: var(--font-oswald);
  font-size: 24px;
  background: var(--coffee-900);
  color: var(--coffee-200);
  text-transform: uppercase;
  padding: 0px 16px;
  width: fit-content;
}
.swiper {
  position: relative;
  width: 100%;
  padding: 0 48px;
}
.swiper div[class~='swiper-button-prev'],
.swiper div[class~='swiper-button-next'] {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--coffee-900);
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transform-origin: center;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 200ms;
}

.swiper div[class~='swiper-button-prev'] {
  left: 48px;
}
.swiper div[class~='swiper-button-next'] {
  right: 48px;
}

.swiper div[class~='swiper-button-prev']:hover,
.swiper div[class~='swiper-button-next']:hover {
  transform: translateY(-50%) scale(1.3);
}

.swiper div[class~='swiper-button-prev'] svg,
.swiper div[class~='swiper-button-next'] svg {
  width: 20px;
  height: 20px;
}
.swiper div[class~='swiper-button-prev'] svg path,
.swiper div[class~='swiper-button-next'] svg path {
  color: var(--coffee-200);
}

.swiper div[class~='swiper-button-disabled'] {
  opacity: 0;
}
