.filter-bar {
  display: flex;
  justify-content: space-between;
  /* height: 80px; */
  /* margin-top: 16px; */
  margin-bottom: 48px;
}
.filters {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
.filters ul {
  max-height: 280px;
  overflow-y: auto;
}
.active-filters {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}
.active-filter {
  display: flex;
  align-items: center;
  gap: 4px;
  background: black;
  width: fit-content;
  padding: 4px 8px;
}
.active-filter p {
  color: var(--coffee-100);
  text-transform: uppercase;
  font-size: 14px;
}
.active-filter button {
  display: flex;
  cursor: pointer;
}

.item-filter {
  display: flex;
  gap: 8px;
  text-transform: capitalize;
}

.sort-container {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 8px;
}
.sort-label {
  text-transform: uppercase;
  font-size: 14px;
}
.colorway-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.colorway-indicator {
  width: 12px;
  height: 12px;
  border: 1px solid var(--coffee-900);
  border-radius: 50%;
}

.article-number {
  font-size: 14px;
  text-transform: uppercase;
  /* color: var(--coffee-800); */
}
