.visualizer-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 700;
  background: #e5e5e4;
  overflow: auto;
  --visualizer-margin: 96px;
}
.visualizer-image {
  height: calc(100vh - var(--visualizer-margin));
  width: auto;
  cursor: zoom-in;
  user-select: none;
}
.cross-button {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 700;
  cursor: pointer;
  transition: all 200ms;
}
.cross-button:hover {
  transform: scale(1.4);
}

.visualizer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
}
.prev-button:disabled,
.next-button:disabled {
  opacity: 0.5;
}
.prev-button:disabled svg:hover,
.next-button:disabled svg:hover {
  transform: scale(1);
}
.prev-button svg,
.next-button svg {
  aspect-ratio: 8/5;
  width: 50px;
  height: auto;
  transition: all 200ms;
}

.prev-button svg:hover,
.next-button svg:hover {
  transform: scale(1.4);
}

.next-button {
  right: 0;
}
.prev-button {
  transform: rotate(180deg);
}
