.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/hero/category.webp');
  padding: 64px calc(48px + 24px);
  margin-left: -48px;
  margin-right: -48px;
}
.title-content {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.title {
  font-family: var(--font-oswald);
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--coffee-100);
}
.sneakers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 64px;
  column-gap: 64px;
}
