.range {
  text-align: center;
  font-weight: bold;
  margin-bottom: 12px;
}

/* //---------- SLIDER ----------// */
.slider-root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;
  height: 20px;
}
.slider-track {
  background-color: var(--gray-300);
  position: relative;
  flex-grow: 1;
  border-radius: 9999px;
  height: 3px;
}
.slider-range {
  position: absolute;
  background-color: var(--coffee-900);
  border-radius: 9999px;
  height: 100%;
}
.slider-thumb {
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--coffee-900);
  border-radius: 10px;
}

.slider-thumb:focus {
  outline: none;
}
