/* ---------- RESET CSS ---------- */
* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--coffee-900);
  text-decoration: none;
  border: none;
  background: none;
  box-sizing: border-box;
}

/* ---------- DESIGN SYSTEM ---------- */
:root {
  /* -- Spacing system -- */
  --sp-01: 4px;
  --sp-02: 8px;
  --sp-03: 12px;
  --sp-04: 16px;
  --sp-05: 24px;
  --sp-06: 32px;
  --sp-07: 48px;
  --sp-08: 64px;
  --sp-09: 96px;
  --sp-10: 128px;
  --sp-11: 192px;
  --sp-12: 256px;
  --sp-13: 384px;

  /* -- Font size system -- */
  --font-64: 64px;
  --font-36: 36px;
  --font-24: 24px;
  --font-20: 20px;
  --font-16: 16px;
  --font-14: 14px;
  --font-12: 12px;

  /* -- Color system -- */

  /* -- Coffee -- */

  --coffee-100: #f4efe9;
  --coffee-200: #e7e2d9;
  --coffee-300: #d8cec0;
  --coffee-400: #b9ac98;
  --coffee-500: #9f927f;
  --coffee-600: #8c7e69;
  --coffee-700: #766b5b;
  --coffee-800: #686155;
  --coffee-900: #514e49;

  /* -- Opacity - Coffee -- */
  --coffee-900-015: hsla(38, 5%, 30%, 0.15);

  /* -- Gray -- */

  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d6d6d6;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #6e6e6e;
  --gray-700: #4b4b4b;
  --gray-800: #2e2e2e;
  --gray-900: #1a1a1a;

  /* -- Error Message -- */
  --error-message: #fb2c36;
}

/* ---------- GLOBAL CSS ---------- */
main {
  padding: 0 48px;
}
