.sneakers-slider-container {
  display: flex;
  flex-direction: column;
  gap: 128px;
}

/* //---------- RESPONSIVE ----------// */
@media (max-width: 768px) {
  .sneakers-slider-container {
    gap: 64px;
    margin-top: -60px;
  }
}
