.visualizer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 700;
  background: #e5e5e4;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  position: relative;
  aspect-ratio: 5/3;
  width: calc(80%);
  height: auto;
}
.image {
  cursor: zoom-in;
  user-select: none;
}

.visualizer div[class~='swiper-button-prev'],
.visualizer div[class~='swiper-button-next'] {
  transition: transform 200ms;
}
.visualizer div[class~='swiper-button-prev'] {
  left: 24px;
}
.visualizer div[class~='swiper-button-next'] {
  right: 24px;
}
.visualizer div[class~='swiper-button-prev']:hover,
.visualizer div[class~='swiper-button-next']:hover {
  transform: scale(1.3);
}

.close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  z-index: 700;
  cursor: pointer;
  transition: transform 200ms;
}
.close-button:hover {
  transform: scale(1.3);
}
.close-button svg {
  width: 20px;
  height: 20px;
}
