.visualizer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 700;
  background: #e5e5e4;
}
.image-container {
  position: relative;
  aspect-ratio: 5/3;
  height: calc(100vh - 96px);
  width: auto;
  margin: auto;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
