.separator {
  margin: 48px 0;
  border-top: 1px solid var(--gray-300);
}
.reassurance-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 24px;
}
.reassurance-container p {
  font-size: 12px;
  color: var(--gray-700);
}
.payement-icons-container {
  display: flex;
  gap: 24px;
}
