.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  flex: 1;
}
.input-container label {
  font-weight: 500;
  font-size: var(--font-12);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.input-container input {
  height: 50px;
  border-radius: 4px;
  border-style: none;
  border: 1px solid var(--gray-300);
  padding: 0 12px;
}
.input-container input:focus {
  outline: 2px solid var(--coffee-800);
  /* outline: none; */
}
.error-banner-container {
  position: absolute;
  bottom: -45px;
  right: 0;
}
.input-container[data-has-error='true'] label,
.input-container[data-has-error='true'] label sup {
  color: var(--error-message);
  font-weight: bold;
}

.input-container[data-has-error='true'] input {
  border: 2px solid var(--error-message);
  outline: none;
}
