.sneaker-item {
  width: 100%;
  cursor: pointer;
}
.image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 5/3;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.name {
  font-size: 16px;
  font-weight: 400;
  color: var(--coffee-800);
  margin-bottom: 4px;
  text-align: center;
  text-transform: capitalize;
  line-height: 24px;
}
.price {
  font-size: 20px;
  font-weight: 500;
  color: var(--coffee-800);
}
