.brand-panel {
  padding: 64px 48px;
  background: var(--gray-100);
}
.title {
  font-family: var(--font-oswald);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}
.brand-container {
  display: flex;
  gap: 48px;
}
.brand-item {
  flex: 1;
}

.image-container {
  position: relative;
  aspect-ratio: 4/3;
  height: auto;
}
.image-title {
  font-family: var(--font-oswald);
  text-align: center;
  margin-top: 8px;
  font-weight: 600;
  color: var(--coffee-800);
  font-size: 18px;
}
