.tabs {
  display: flex;
  gap: 48px;
}

.tabs h1 {
  font-family: var(--font-oswald);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.tabs hr {
  height: 1px;
  background: var(--gray-300);
}
.tabs-list {
  width: 300px;
  /* border: 1px solid blue; */
}
.tabs-list button:last-of-type {
  margin-top: 32px;
}
.tabs-trigger {
  font-size: var(--font-16);
  text-align: left;
  padding: 26px 0;
  font-family: inherit;
  cursor: pointer;
}
.tabs-trigger[data-state='active'] {
  font-weight: bold;
}
.tabs-content {
  flex: 1;
}

/* .tabs-content button {
  margin: 32px 0;
} */

.tabs [role='tablist'] {
  display: flex;
}
.tabs [data-orientation='vertical'] {
  flex-direction: column;
}

.infos {
  display: flex;
  padding: 32px 0;
}
.infos .label {
  font-weight: bold;
}
.name-container,
.email-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.default-container {
  padding: 32px 0;
}
.address-container .label {
  font-weight: bold;
  margin-bottom: 8px;
}
.address {
  line-height: 24px;
  text-transform: capitalize;
}

.name {
  text-transform: capitalize;
}
.content {
  margin-top: 32px;
}

.orders-table {
  border-collapse: collapse;
}
.orders-table thead {
  background: var(--coffee-900);
}
.orders-table th {
  color: var(--coffee-100);
  padding: 12px 32px;
}
.orders-table td {
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--gray-300);
}
