.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
}
.container {
  width: 500px;
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  padding: 32px;
}
.success-emoji {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background: #92e4b5;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 16px;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.title {
  margin-bottom: 4px;
  color: #29c46b;
  font-size: 32px;
  font-weight: 500;
}
.payment-details {
  background: var(--gray-100);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}
.label {
  text-transform: capitalize;
  color: var(--coffee-700);
}

.row:first-child .value {
  font-size: 18px;
}
.row:first-child {
  border-bottom: 1px solid var(--gray-300);
  padding-bottom: 16px;
}
