/* .account-page-container {
  display: flex;
  gap: 24px;
}
.account-page-container section {
  width: 300px;
  border: 1px solid blue;
}
.container {
  border: 1px solid green;
  flex: 1;
} */
.tabs {
  display: flex;
}
.tabs-list {
  width: 300px;
  border: 1px solid blue;
}
.tabs-content {
  border: 1px solid green;
  flex: 1;
}

.tabs [role='tablist'] {
  display: flex;
}
.tabs [data-orientation='vertical'] {
  flex-direction: column;
}
