.search-bar-filter {
  margin-bottom: 24px;
}
.filters {
  display: flex;
  gap: 12px;
}
.filter-item button {
  color: var(--gray-500);
  cursor: pointer;
  font-size: 16px;
}
.active button {
  color: var(--coffee-900);
  font-weight: bold;
}
