.table {
  border-collapse: collapse;
  width: 75%;
  margin: 0 auto;
}
.table tr {
  height: 40px;
}
.table th {
  font-family: var(--font-oswald);
}

.table thead {
  background: var(--coffee-900);
  position: sticky;
  top: 0;
}
.table th {
  color: var(--coffee-100);
}
.table td {
  text-align: center;
}
.table tr:nth-of-type(even) {
  background: var(--coffee-900-015);
}

/* //---------- MODAL ----------// */
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  z-index: 400;
  padding: 32px 24px;
}
.modal-overlay {
  background-color: #000000b3;
  position: fixed;
  inset: 0;
  z-index: 300;
}
.modal-title {
  font-family: var(--font-oswald);
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-left: 200px;
}
.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  transform: scale(1.3);
}

/* //---------- TABS ----------// */
.tabs-root {
  display: flex;
  height: calc(100% - 87px);
}
.tabs-list {
  width: 200px;
}
.tabs-content {
  flex: 1;
  /* height: calc(100% - 87px); */
  overflow: auto;
}
.tabs-root[data-orientation='vertical'] .tabs-list {
  display: flex;
  flex-direction: column;
}
.tabs-trigger {
  font-family: var(--font-oswald);
  font-size: 16px;
  font-weight: bold;
  height: 40px;
}
/* .tabs-trigger:hover {
  background: var(--coffee-900);
  color: var(--coffee-100);
} */
.tabs-trigger[data-state='active'] {
  background: var(--coffee-900);
  color: var(--coffee-100);
}
