.title-container {
  background: var(--gray-100);
  padding: 32px calc(48px + 24px);
  margin-left: -48px;
  margin-right: -48px;
  margin-bottom: 24px;
}
.title-content {
  display: flex;
  align-items: baseline;
  gap: 8px;
}
.title {
  font-family: var(--font-oswald);
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.title small {
  font-size: 14px;
}
.description {
  font-weight: 300;
}

.sneakers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 64px;
  column-gap: 64px;
}

@media (max-width: 1279px) {
  .sneakers-grid {
    row-gap: 32px;
    column-gap: 32px;
  }
}

@media (max-width: 768px) {
  .title-container {
    margin-left: -16px;
    margin-right: -16px;
    padding: 32px calc(16px + 24px);
  }
  .title {
    font-size: 28px;
  }
  .sneakers-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 16px;
  }
}
